<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>SO Answer</h1>
                <h2>http://stackoverflow.com/questions/12739635/setting-asp-net-mvc4-web-api-route-url-in-javascript-is-returning-empty-string/12785806#12785806</h2>
            </hgroup>
            <p>
                Route 1: @Url.RouteUrl("ApiControllerAction", new { httproute="", controller = "Client", action = "clients" }) 
            </p>
            <p>
                Route 2: @Url.RouteUrl("ApiControllerAction2", new { httproute="", controller = "Clients" })
            </p>
            <p>
                To learn more about ASP.NET Web API visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">http://asp.net/web-api</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET Web API.
                If you have any questions about ASP.NET Web API, visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API Forum">our forums</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        
    </section>
</div>
